# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environment
# =========================
venv/
.venv
.env

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Build / cache
# =========================
dist/
build/
*.egg-info/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
.pytest_cache/

